<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name"/>
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name"/>
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'" >texto texto texto</p>
<div class="styles">
    <div>
      <input type="text"  [(ngModel)]="widthImg"/>
    </div>
    <div>
      <img [style.width.px]="widthImg" [src]="person.avatar"/>
    </div>
</div>



<hr/>





<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
<p *ngSwitchCase="'nicolas'">
  la persona es nicolas
</p>
<p *ngSwitchCase="'julian'">
  la persona es julian
</p>
<p *ngSwitchCase="'camilo'">
  la persona es camilo
</p>
<p *ngSwitchDefault>no hace mach papu D:</p>
</div>
<!--
<p *ngIf="person.name === 'nicolas'">
  la persona es nicolas
</p>

<p *ngIf="person.name === 'julian'">
  la persona es julian
</p>

<p *ngIf="person.name === 'camilo'">
  la persona es camilo
</p> -->
<hr/>




<h1>*ngFor Objs</h1>
<div class="products--grid">
  <!-- el ngFor solo fucnioan con objetos que puedan iterarze, es decir, con arrays :D  -->
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>prezio y cuanto cuesta:{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<hr/>






<!-- A lo igual que con un If, Angular permite iterar un array de números, de cadenas de caracteres o de objetos usando “*ngFor”.Si tienes en tu componente un array de datos: -->
<!-- export class AppComponent {
  myArray: string[] = [
    'Platzi',
    'es',
    'genial!'
  ];
} -->

<!-- Puedes mostrar cada elemento iterando el array en un elemento HTML:

"let str of myArray">
        {{ str }}
    </li>
> -->

<!-- Índice de iteración
ngFor también cuenta con un índice con el número de iteraciones. Puedes acceder a este número agregando al ngFor index as i de la siguiente manera:

"let str of myArray; index as i">
        {{ i }}. {{ str }}
    </li>
>

Cada iteración contiene una variable i con el índice que le corresponde. Iniciando desde cero, da como resultado:

<ul>
    <li>0. Platzili>
    <li>1. esli>
    <li>2. genial!li>
ul> -->

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="NewName" />
<button (click)="AddName()">add name</button>
<ul>
  <li *ngIf="names.length === 0 "> no hay nombres D:</li>
  <!-- el array de abajo "names" tiene que estar en los components.ts -->
  <li *ngFor="let name of names; index as i">
    {{i}}  {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<!-- <hr/>
ejemplo hecho por mi
<h3>ejemplo de nueva lista</h3>
<input type="text" required [(ngModel)]="lista" />
<button (click)="anadir()">añadir nueva cosita :D</button>
<ul>
  <li>
    <li *ngFor="let cosa of NewLista; index as j">
      {{j}}  {{ cosa }}
      <button (click)="borrar(j)">manda alv :D</button>
  </li>
</ul> -->


<hr/>
<!-- El condicional “If” es un “If” en Javascript, en Java, en PHP, en Python o en cualquier lenguaje. Angular posibilita utilizar este condicionante
embebido en el HTML para mostrar o no un elemento. Su sintaxis es algo particular, está compuesta por un asterisco seguido de las iniciales características de Angular “ng” y la palabra “If”.

<div *ngIf="isPlatzi">Hola, soy Platzi</div>

Si la condición dentro del “If” se cumple, se mostrará el <div> con el respectivo contenido dentro. De lo contrario, el usuario no verá dicho
elemento en el navegador. En la condición del If puedes colocar cualquier operador lógico -->

<!-- If … else
Para usar un else en Angular, la sintaxis es algo especial. Debes crear un template en tu código HTML usando la etiqueta que provee Angular
llamada <ng-template> con una Variable de Template, comenzando con #, para hacer referencia a este elemento desde tu If.

<div *ngIf="isPlatzi; else templateElse">Hola, soy Platzi</div>
<ng-template #templateElse>
    <div>No soy Platzi</div>
</ng-template

Si la condición del If no se cumple, seguido de punto y coma, se coloca la sentencia else haciendo referencia a templateElse, que es el nombre
de la variable del template a mostrar en su lugar. -->
<h1>*ngIF</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'richi'">My Contenido</p>
<p *ngIf="person.name === 'martita' && person.age === 18; else elseBlock">martita :D</p>
<ng-template #elseBlock>
  <p>bloque de else</p>
</ng-template>

<hr/>
<!-- El atributo ngModel permite el intercambio de datos de forma bidireccional entre el componente y la vista. Lo que suceda en el componente,
se verá reflejado en la vista. Lo que se suceda en la vista, inmediatamente impactará en el componente. -->
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>age {{person.age}}</p>
<input type="number" max="22" min="15" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>



<hr/>
<!-- ------------------------------------------------ -->
<!-- El Event Binding le permite escuchar y responder a las acciones del usuario, como pulsaciones de teclas, movimientos del mouse,
clics y toques (Atributos HTML y propiedades DOM).

Para vincular un elemento html a un evento, debemos indicar el nombre del evento entre paréntesis a la izquierda de un signo igual
 y el nombre de una funcion entre comillas a la derecha, recuerda indicar que se trata de una funcion con los parentecis “nameFunction()” . -->
<h1>Eventos</h1>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad : {{person.age}}</p>
<button (click)="Age()">Age ++</button>
<!-- otros eventos que se pueden escuchar  -->
<div class="box"(scroll)="OnScroll($event)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui nesciunt tempora incidunt? Adipisci odit hic voluptas enim voluptate, voluptatibus consequatur laudantium numquam distinctio, ipsum exercitationem maxime autem quidem delectus.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui nesciunt tempora incidunt? Adipisci odit hic voluptas enim voluptate, voluptatibus consequatur laudantium numquam distinctio, ipsum exercitationem maxime autem quidem delectus.
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name"(keyup)="changeName($event)"/>




<hr/>
<!-- property Binding: Es una forma de controlar dinamamicamente algunos atributos html para que estos sean renderizados apartir una string,
variable o atributo de un objeto de la capa logica. -->
<!-- Los corchetes [ ] (square brakets) hacen que Angular evalúe el lado derecho de la asignación como una expresión dinámica. Sin los corchetes,
Angular trata el lado derecho como un literal de cadena y establece la propiedad en ese valor estático. -->
<!-- es preferible usar el String interpolation en los casos que los datos sean Strings, para valores numericos es mejor usar Property Binding -->
<h1>propiedades</h1>
<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" alt="">



<hr/>
<!-- String interpolation es la manera de enviar datos desde nuestro componente hacia la vista. Utilizando el doble símbolo de llaves {{ }}, o también conocidos
como brackets, puedes imprimir el valor de una variable, realizar operaciones matemáticas o hacer el llamado a una función dentro del código HTML. -->
<!-- estos valores deben se publicos para que puedan ser enviados, de otra forma, no se podran enviar -->
<h1>Hola mundo</h1>
<h2> {{ 'hola mundo, '.repeat(5) }} </h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>hola, soy  {{ name }} y tengo  {{ age }}</h3>
<img width="200" src={{img}} alt="image">
