.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background: blueviolet;
}

// poner un grid de columnas como reto para una pantalla tipo tablet
.products--grid{
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-gap: 15px;
  div {
    img{
      width: 100%;
      border-radius: 10px;
    }
    h2, p{
      margin: 0;
    }
  }
}

// estilo de mi formulario
.FormFirst{
  background-color: #1c1c1c;
  color: antiquewhite;
}



.form-group{
  padding-bottom: 20px;
  text-align: center

}
.labelform{
  display: block;
  padding-right: 10%;
  padding-bottom: 10px;


}
.estiloInput{
  background: transparent;
  padding: auto;
  border: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  color: aliceblue;
}

.message-error{
  background: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
  &.invalid{
    opacity: 1;
  }
}

.line-error{
  height: 0;
  border-bottom: 1px solid;
  &.invalid{
    border-color: red;
  }
  &.valid{
    border-color: green;
  }
}

.styles{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 40em){
 .products--grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
 }
}
